/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
:root {
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);
  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);
  --Light-Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 75%);
}
body {
  font-size: 1rem;
  font-family: "Open Sans", Arial;
  font-weight: 400;
  display: grid;
  place-items: center;
  gap: 0;
  text-align: center;
}
header,
main,
footer {
  width: 100%;
}
h1,
h2,
header,
.get-started__button {
  font-family: "Raleway", cursive;
}
h1 {
  font-weight: 700;
  font-size: 1.8rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.c-card-container {
  width: min(100%, 23.4375rem);
  margin: 0 auto;
  padding: 1rem;
}
/* header and nav styling */
nav .c-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}
.Fylo-logo {
  width: 7rem;
}
.nav__links {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  color: var(--Very-Dark-Blue);
}
.nav__links a {
  text-decoration: none;
}
/* main section styling */
main {
  background-color: white;
  display: grid;
  gap: 10rem;
  color: var(--Very-Dark-Blue);
}
/* section-1 styling */
.main__section-1 .c-card-container {
  display: grid;
  gap: 2rem;
  margin-top: 5rem;
}
.illustration-1 {
  grid-row: 1;
}
.section-1__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
/* form styling */
form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
form div {
  width: 100%;
}
.form-email {
  display: block;
  width: 100%;
  height: 3rem;
  padding: 1rem;
  border: 1px solid;
  border-radius: 8px;
}
.form__error-message {
  visibility: hidden;
  display: block;
  font-size: 0.8rem;
  text-align: left;
  margin-top: 0;
}
.form-email:not(:focus):invalid {
  border: 1px solid red;
  color: red;
}
.form-email:not(:focus):invalid ~ .form__error-message {
  visibility: visible;
  color: red;
}
.get-started__button {
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--Bright-Blue);
  cursor: pointer;
}
.get-started__button:hover {
  opacity: 0.7;
}
/* section 2 styling */
.main__section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 5rem;
  background-color: var(--Light-Grayish-Blue);
}
.main__section-2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5rem;
  top: -5rem;
  background-image: url(./images/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100% 5rem;
}
.section-2__div-1 .c-card-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 3rem;
}
.section-2__div-1__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.div-1-p {
  color: var(--Light-Gray);
  font-weight: 400;
}
.m-s2-d1-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--Moderate-Cyan);
  position: relative;
}
.m-s2-d1-link img {
  width: 1.5rem;
}
.m-s2-d1-link::after {
  content: "";
  position: absolute;
  width: 100%;
  border: 1px solid currentColor;
  bottom: -0.5rem;
}
.m-s2-d1-link:hover {
  opacity: 0.7;
}
figure {
  background-color: #fff;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 12px;
  box-shadow: 1px 1px 10px 1px var(--Light-Gray);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  text-align: left;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--Very-Dark-Blue);
}
figure img {
  width: 1rem;
}
figcaption {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.profile-picture {
  width: 2.5rem;
  border-radius: 100%;
}
.name {
  font-weight: 700;
}
.occupation {
  font-size: 0.7rem;
}
/* call to action section */
.section-2__div-2 {
  background-color: var(--Desaturated-Blue);
  padding: 3rem 0;
  width: 100%;
}
.section-2__div-2 .c-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.c-t-a--text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.c-t-a--text ~ form {
  width: 80%;
}
footer {
  background-color: var(--Very-Dark-Blue);
  color: #fff;
  text-align: left;
}
footer .c-card-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 3rem;
}
.page-footer {
  display: grid;
  gap: 2rem;
}
.contact-link-social {
  display: grid;
  gap: 1rem;
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.contact div a {
  text-decoration: none;
}
.link-items {
  display: grid;
  gap: 1rem;
  list-style: none;
}
.link-items a {
  text-decoration: none;
  cursor: pointer;
}
.link-items a:hover {
  color: var(--Bright-Blue);
}
.socials {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.socials svg {
  width: 1rem;
  height: 1rem;
}
.socials a {
  border: 1px solid currentColor;
  padding: 0.5rem;
  border-radius: 100%;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.socials a:hover {
  color: var(--Moderate-Cyan);
}
.socials svg path {
  fill: currentColor;
}
.attribution {
  font-size: 0.8rem;
  text-align: center;
}
@media (min-width: 48rem) {
  .c-card-container {
    width: min(100%, 47.5rem);
  }
  .main__section-1 .c-card-container {
    grid-template-columns: 1fr 1fr;
  }
  .illustration-1 {
    grid-column: 2;
  }
  .section-1__text {
    align-items: flex-start;
    text-align: left;
    justify-content: center;
  }
  .section-2__div-1 .c-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .main__illustration-2 {
    grid-column: 2;
  }
  .section-2__div-1__text {
    text-align: left;
    align-items: flex-start;
  }
  .section-2__div-2 .c-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .c-t-a--text {
    text-align: left;
    align-items: flex-start;
  }
  .c-t-a--text ~ form {
    width: 100%;
  }
  .contact-link-social {
    grid-template-columns: repeat(3, 1fr);
  }
  .link-items {
    grid-template-columns: 1fr 1fr;
  }
  .socials {
    align-items: flex-start;
  }
}
@media (min-width: 64rem) {
  .c-card-container {
    width: min(100%, 75rem);
  }
  .nav__links {
    gap: 2rem;
  }
  form {
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
  }
  .get-started__button {
    width: 70%;
  }
  figure {
    width: 21.875rem;
  }
  .c-t-a--text ~ form {
    flex-direction: column;
    gap: 0;
  }
  .btn {
    width: 15rem;
    display: block;
  }
}
